.titulo{
    color: rgb(19, 18, 18);
}

body{
    background-color: rgb(253, 4, 4);
    font-size: 10px;
}

.contenedor{background-color: rgb(255, 255, 255);
    margin: 12cm;
    height: 200px;
    border-radius: 5px;
    padding: 80px;
    width: 150px;

}

