.titulo{
    color: rgb(26, 25, 25);
}

body{
    background-color: rgb(255, 0, 0);
    font-size: 10px;
}

.contenedor{background-color: rgb(246, 246, 250);
    margin:12cm;
    margin-top: 200px;
    height: 150px;
    border-radius: 5px;
    padding: 30px;
    width: 200px;
}

