body{
    background-color:rgb(255, 0, 0);

}
.titulo{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 0 auto;
    margin-top: 100px;
    height: 2px;
    border-radius: 20px;
    padding: 2px;

}

.texto{
    color: rgb(255, 255, 255);
    font-size: 25px;
    

}